<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <nav class="footer__nav">
        <div class="footer__logo">
          <a href="#" class="logo ">
            <img src="img/svg/logo.svg" alt="Logo">
          </a>
        </div>
        <p class="footer__descr">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...
        </p>
      </nav>
      <nav class="footer__nav">
        <h3 class="footer__title">Navigation</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item"><a href="#" class="footer__link"></a></li>
          <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Service</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Menu</a></li>
        </ul>
      </nav>
      <nav class="footer__nav">
        <h3 class="footer__title">Resources</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item"><a href="#" class="footer__link"></a></li>
          <li class="footer__item"><a href="#" class="footer__link">Reviews</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Update News</a></li>
        </ul>
      </nav>
      <nav class="footer__nav">
        <h3 class="footer__title">Contact Us</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item"><a href="#" class="footer__link"></a></li>
          <li class="footer__item"><a href="#" class="footer__link">Email: oyasim@email.com</a></li>
          <ul class="list-reset footer__list footer__social">
            <li class="footer__item">
              <a href="#" class="footer__link">
                <img src="img/svg/facebook.svg" width="24" height="24" alt="">
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">
                <img src="img/svg/twitter.svg" width="24" height="24" alt="">
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">
                <img src="img/svg/instagram.svg" width="24" height="24" alt="">
              </a>
            </li>


          </ul>
        </ul>
      </nav>
    </div>

  </div>
</footer>
