<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="nav header__nav">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Service</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Menu</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="logo">
        <img src="img/svg/logo.svg" alt="Logo">
      </a>
      <div class="header__contacts">
        <a href="#" class="header__contacts--link">
          <img src="img/svg/search.svg" alt="">
        </a>
        <a href="#" class="header__contacts--link">
          <img src="img/svg/buy.svg"  alt="">
        </a>
        <button class="btn-reset btn">Regestar Now</button>
      </div>
    </div>
  </div>
</header>
