<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Organic Fruit & Vegetables</h1>
      <p class="hero__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...
      </p>
      <a class="link">
        <p class="link__order" href="#">Order Now</з>
        <div class="link__image" href="#">
          <img class="link__img" src="img/svg/arrow.svg" width="35" height="35" alt="">
        </div>
      </a>

    </div>
    <div class="hero__wrapper">
      <div class="hero__img">
        <img src="img/hero-bg.png" alt="">
      </div>
      <div class="hero__static">

        <div class="card">
          <div class="card__img">
            <img src="img/svg/user.svg" alt="">
          </div>
          <div class="card__wrapper">
            <div class="card__amount">30K</div>
            <div class="card__descr">User Order</div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src="img/svg/reviews.svg" alt="">
          </div>
          <div class="card__wrapper">
            <div class="card__amount">20K</div>
            <div class="card__descr">User Order</div>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src="img/svg/items.svg" alt="">
          </div>
          <div class="card__wrapper">
            <div class="card__amount">300</div>
            <div class="card__descr">User Order</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
