<section class="items">
  <div class="container">
    <div class="items__inner">
      <div class="items__image">
        <img src="img/items-1.png" alt="">
      </div>
      <div class="items__content">
        <h1 class="items__title">Explor Our Special Items</h1>
        <p class="items__descr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...
        </p>
        <a class="link link__items">
          <p class="link__order" href="#">Order Now</з>
          <a class="link__image" href="#">
            <img class="link__img" src="img/svg/arrow.svg" width="35" height="35" alt="">
          </a>
        </a>
      </div>
    </div>
  </div>
</section>
