<section class="order">
  <div class="container">
    <div class="order__inner">
      <div class="order__image">
        <img src="img/phone.jpg" alt="">
      </div>
      <div class="order__content">
        <div class="order__span">Download App</div>
        <h1>Simple Way To Order Your Organic Fruit </h1>
        <p class="order__descr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...
        </p>
        <div class="order__wrapper">
          <img src="img/download.jpg" alt="">
          <img src="img/download-1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
