<section class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <div class="reviews__content">
        <h1>What Our Customers About Us saying</h1>
        <p class="reviews__descr">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularis
        </p>
        <p class="reviews__initials">Ahmed Hridoy</p>
        <div class="reviews__info">
          <div class="reviews__star">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/semi-star.svg" width="24" height="24" alt="">
          </div>
          <div class="reviews__button">
            <div class="link__image link__left" href="#">
              <img class="link__img" src="img/svg/arrow-left.svg" width="11" height="17" alt="">
            </div>
            <div class="link__image link__right" href="#">
              <img class="link__img" src="img/svg/arrow-right.svg" width="11" height="17" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__image">
        <img src="img/human.png" alt="">
        <div class="reviews__card">
          <div class="reviews__star reviews__star--image">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/star.svg" width="24" height="24" alt="">
            <img src="img/svg/semi-star.svg" width="24" height="24" alt="">
          </div>
          <div class="reviews__icon">
            <img src="img/photo-1.png" width="32" height="32" alt="">
            <img src="img/photo-2.png" width="32" height="32" alt="">
            <img src="img/photo-3.png" width="32" height="32" alt="">
            <img src="img/photo-4.png" width="32" height="32" alt="">
            <img src="img/photo-5.png" width="32" height="32" alt="">
            <img src="img/photo-6.png" width="32" height="32" alt="">
            <img src="img/photo-7.png" width="32" height="32" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
