<section class="why-we">
  <div class="container">
    <h1>Why We Aer The Best?</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...
    </p>
    <div class="why-we__inner">
      <div class="qiality">

        <div class="qiality__card">
          <div class="qiality__icon">
            <img src="img/icon-1.png" alt="">
          </div>
          <div class="qiality__wrapper">
            <div class="qiality__title">Fasted delivery Service</div>
            <div class="qiality__descr">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>

        <div class="qiality__card qiality__card--dark">
          <div class="qiality__icon">
            <img src="img/icon-2.png" alt="">
          </div>
          <div class="qiality__wrapper">
            <div class="qiality__title">Online order Service</div>
            <div class="qiality__descr">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>

        <div class="qiality__card">
          <div class="qiality__icon">
            <img src="img/icon-3.png" alt="">
          </div>
          <div class="qiality__wrapper">
            <div class="qiality__title">24/7 Service</div>
            <div class="qiality__descr">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
          <a class="qiality__arrow" href="#">
            <img src="img/svg/arrow-button.svg" alt="">
          </a>
        </div>

      </div>
      <div class="qiality-img">
        <img src="img/delivery.png" alt="">
      </div>
    </div>
  </div>
</section>
