// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "DM Sans", sans-serif;
  --font-family: "Rosario", sans-serif;
  --content-width: 1270px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --black-color: #000000;
  --grey-color: #555555;
  --dark-color: #222222;
}
